.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 400px;
  height: 80px;
  padding: 15px;
  margin: auto;
  border: 2px solid red;
  margin-bottom: 10px;
}

.form-container {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.dashboard-container {
  margin: auto;
  width: 80%;
  padding: 20px;
}
.heading {
  margin: auto;
  text-align: center;
  padding: 0px 0px 25px 0px;
}

.adButton {
  background-color: #ff8c00; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 700px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .adButton {
    margin-left: 50%;
  }
}

.deleteButton {
  background-color: #ff8c00; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  margin-bottom: 10px;
}

.editButton {
  background-color: #ff8c00; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
}
